.chartContainer {
  margin-top: 20px;
  height: 420px;
}

.assetAllocationContent {
  margin-top: 20px;
}

.assetAllocationChartContainer {
  height: 500px;
  max-width: 680px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .assetAllocationChartContainer {
    height: 380px;
    max-width: 100%;
  }
}

.chartContainer :global(.ag-charts-overlay) {
  color: var(--mantine-color-dimmed);
}

.assetAllocationChartContainer :global(.ag-charts-overlay) {
  color: var(--mantine-color-dimmed);
}
