.ag-cell,
.ag-full-width-row .ag-cell-wrapper.ag-row-group {
  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
}

.ag-cell.actions-cell {
  opacity: 0;
  transition: opacity 150ms ease;
}

.ag-row:hover .ag-cell.actions-cell {
  opacity: 1;
}

.ag-row.drag-indicator-above {
  box-shadow: inset 0 2px 0 0 var(--mantine-primary-color-filled);
}

.ag-row.drag-indicator-below {
  box-shadow: inset 0 -2px 0 0 var(--mantine-primary-color-filled);
}
